*{
    margin :0;
    padding:0;
    box-sizing :border-box;
    font-family:sans-serif
}

html,body{
    height:100%;
    width:100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    border-radius: 10px;
    height:400px;
    width:300px;
    background-color: rgb(230, 246, 241);
    padding:20px;
    text-align: center;
}

#card img{
    height:50%;
    width:100%;
    object-fit: cover;
    object-position:top;
    border-radius: 10px;
}

#card h1{
      font-size:25px;
      font-weight: 550;
      margin:10px 0;
}

#card h5{
    font-size:25px;
    color:red;
    margin:20px;
}
#card button{
    background-color: cadetblue;
    color:rgb(245, 243, 243);
    font-weight:600;
    padding:12px 20px;
    border-radius:5px;
    border:none;
    cursor:pointer;
}

#card #remove{
    background-color: #dadada;
    color: black;
}